<%- include('./partials/header') %>

<div class="container-fluid">

  <section class="row justify-content-center">

    <div class="col-sm-8">
      <form class="d-flex flex-column" action='/' method='POST'>
        <div class="form-group">
          <textarea
            class="form-control"
            rows='5'
            name='content'
            placeholder="What's on your mind?"
          ></textarea>
        </div>
        <input
          class="btn btn-outline-primary align-self-end"
          type='submit'
          value='Submit'
        />
      </form>
    </div>

  </section>

</div>

<% if (content) { %>
  <h2>You were thinking:</h2>
  <!-- 👇 that tag with the = escapes all the html characters inside -->
  <p><%= content %></p>
<% } %>

<%- include('./partials/footer') %>
